{% extends "base.html" %}
{% block content %}

<h1 style="text-align:center; margin-block:50px; color: red;">{{ user }}, Настройка аккаунта</h1>

<form method="POST" action="." enctype="multipart/form-data" style="margin-left:150px;">
    {% csrf_token %}
    <label for="{{ form.fullname.id_for_label }}">{{ form.fullname.label }}</label><br>
    {{ form.fullname }}
    {{ form.fullname.errors }}

    <br>
    <label for="{{ form.bio.id_for_label }}">{{ form.bio.label }}</label><br>
    {{ form.bio }}
    {{ form.bio.errors }}<br>
    
    <label for="{{ form.profile_pic.id_for_label }}">{{ form.profile_pic.label }}</label>
    {{ form.profile_pic }}
    {{ form.profile_pic.errors }}
    <br>
    <div style="background-color: white; color: #000; font-weight: bolder; padding: 20px; width: 100%;">Если вы зашли на эту страницу, вы должны ОБЯЗАТЕЛЬНО нажать обновить!!!</div>
    <input type="submit" value="Обновить" style="margin-block:50px;">
</form>

{% endblock content %}