*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Titillium web', sans-serif;
    background-color: black;
    color: white;
}

a{
    color: red;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #111314;
}

.logo{
    height: 50px;
    width: 50px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-description *{
    margin-block: 0;
}

.head1{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color: darkblue;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
}

.nav-item a{
    float: left;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.nav-item a:hover{
    background-color: black;
}


.search-box{
    border: solid 1px #52057b;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px #52075b;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 14px;
    height: 39px;
    width: 39px;
}

.search-box button:hover{
    background-color: black;
    box-shadow: 1px 2px 3px white;
}

@media (max-width: 780px) {
    .logo{
        height: 20px;
        width: 20px;
    }
    .nav-item a{
        float: center;
        display: block;
        text-align: center;
        margin-inline: 18px;
        font-size: 15px;
        padding: 3px;
        color: white;
    }
}

.forum-info{
    padding-top: 10px;
    background-color: #111314;
    padding-left: 10px;
    padding-bottom: 10px;
}

.chart{
    font-size: 20px;
    font-weight: bold;
}

footer{
    margin-top: 20px;
    padding: 20px;
    background-color: #52057b;
    display: block;
    text-align: center;
}

/* post.html */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #2c2c2c;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 5px;
    background-color: #131415;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: white;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px white;
}

.pagination a:hover{
    opacity: 0.5;
}

.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: white;
}

.navigate a:hover{
    color: #ff0042;
    font-weight: bolder;
}

/* detail.html */

.head{
    display: flex;
    background-color: #2c2c2c;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #131415;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border: none;
    padding: 10px;
    font-weight: bolder;
    box-shadow: 4px 6px white;
    cursor: pointer;
    float: right;
}

/* comment */

.comment-area{
    margin-top: 50px ;
}
.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}

.comments-container{
    margin-top: 50px;
}


