{% load static %}

<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<link rel="stylesheet" href="{% static 'for.css' %}">
<body>
  <header class="nead1">
    <div class="navbar">
        <nav class="navigation">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="{% url 'home' %}">Домашняя</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'logout' %}">Выход</a>
              <a href="{% url 'pers' %}">Кабинет</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'signup'%}">Регистрация</a>
              <a href="{% url 'signin'%}">Авторизация</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% if user.is_authenticated %}
        <div style="font-size: 50px;font-weight:300px;margin-left:100px;"><a href="{% url 'create_post' %}"> + </a> </div>
        {% endif %}
    </div>
    <form action="{% url 'search_result' %}" role="form" method="GET">
    <div class="search-box">
      <div>
        <select name="search_box" id="">
          <option value="Everything">Всё</option>
          <option value="Titles">Название</option>
          <option value="Description">Описание</option>
        </select>
        <input type="text" name="q" placeholder="Поиск ...">
        <button class="b3" type="submit" name="search">
        </button>
      </div>
    </div>
  </form>
  </header>
{% block content%}
{% endblock content%}
{% load static %}
    <footer>
      <span>&copy; &nbsp; Михайлов Сергей | ОКЭИ 2ис1</span>
    </footer>
    <script src="{% static 'script.js'%}"></script>
</body>