{% extends 'base.html' %}
{% load hitcount_tags %}
{% load static %}
{% block content%}
    <div class="container">
        <div class="navigate">
            <span>
                <a href="{% url 'home' %}">Форум</a> >> <a href="{{post.categories.all.0.get_url}}">{{post.categories.all.0}}</a> >> <a href="{{post.get_url}}">{{post.title}}</a>
            </span>
        </div>

        <div class="topic-container">
            <div class="head">
                <div class="author">Автор </div>
                <div class="content">Тема: {{post.title}} (Количество просмотров {% get_hit_count for post %}) </div>
            </div>
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{post.user.fullname|title}}</a></div>
                    <div>Роль</div>
                    <img src="{{post.user.profile_pic.url}}", alt="">
                    <div>Посты: <u>{{post.user.num_posts}}</u></div>
                    <div>Баллы: <u>{{post.user.points}}</u></div>
                </div>
                
                <div class="content">
                    {{post.content|safe}}
                    <br>
                    <div class="comment">
                      <button onclick="showComment()">Комментарии</button>
                    </div>
                </div>
            </div>
        </div>
        {% if post.closed == True %}
        <div style="background-color: white; color: #000; font-weight: bolder; padding: 20px; width: 100%;">Эта тема закрыта</div>
        {% else %}
        {% if request.user.is_authenticated %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area" hidden id="comment-area">
                <textarea name="comment" id="" placeholder="Отправь сообщение"></textarea>
                <input type="submit" value="Отправить" name="comment-form">
            </div>
        </form>
        {% else %}
        <div style="background-color: white; color: #000; font-weight: bolder; padding: 20px; width: 100%;">Ты должен(на) <a href="{% url 'signin'%}"><b> авторизоваться</b></a><b> чтобы комментировать!</b></div>
        {% endif %}

        {% endif %}

        {% for comment in post.comments.all %}
        <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{comment.user.fullname|title}}</a></div>
                    <div>Роль</div>
                    <img src="{{comment.user.profile_pic.url}}"></img>
                    <div>Посты: <u>{{comment.user.num_posts}}</u></div>
                    <div>Баллы: <u>{{comment.user.points}}</u></div>
                </div>
                
                <div class="content">
                    {{comment.content}}
                    <br>
                    {% if request.user.is_authenticated %}
                    <div class="comment">
                        <button onclick="showReplies('comment{{comment.id}}')">Ответить</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area" hidden id="comment{{comment.id}}">
                <textarea name="reply" id="" placeholder="Отправь сообщение"></textarea>
                <input type="submit" value="Отправить" name="reply-form">
                <input name="comment-id" value="{{comment.id}}" type="hidden">
            </div>
        </form>

        {% for reply in comment.replies.all %}
        <div class="comments-container" style="width: 95%; margin-left: 5%;">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{reply.user.fullname|title}}</a></div>
                    <div>Роль</div>
                    <img src="{{reply.user.profile_pic.url}}"></img>
                    <div>Посты: <u>{{reply.user.num_posts}}</u></div>
                    <div>Баллы: <u>{{reply.user.points}}</u></div>
                </div>
                <div class="content">
                    {{reply.content}}
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    <script src="{% static 'script.js'%}"></script>
    {% endblock content%}