{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="subforum">
          <div class="subforum-title">
            <h1>Общая информация</h1>
          </div>

          {% for forum in forums %}
          <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
              <img src="{% static 'logo.png' %}" class="logo">
            </div>
            <div class="subforum-description subforum-column">
              <h1><a href="{{forum.get_url}}">{{forum.title}}:</a></h1>
              <p>Описание: {{forum.description}}</p>
            </div>
            <div class="subforum-stats subforum-column center">
              <span>{{forum.num_posts}} постов(а) </span>
            </div>
            <div class="subforum-info subforum-column">
              {% if forum.last_post %}
                <b><a href="{{ forum.last_post.get_absolute_url }}">Последний пост</a></b> сделанный <a href="">{{ forum.last_post.user.fullname|title }}</a>
                <br>
                <small>{{ forum.last_post.date|date }}</small>
              {% else %}
                <b>Нет постов</b>
              {% endif %}
            </div>
          </div>
          {% endfor %}
    </div>
  </div>

  <div class="forum-info">
    <div class="chart">
      Форум - Статистика
    </div>
    <span><u>{{num_posts}}</u> пост(а/ов) в <u>{{num_categories}}</u> теме(ах) написанный <u>{{num_users}}</u> пользователем(лями)</span><br>
    <span>Последний пост <b><a href="{{last_post.get_url}}">{{last_post.title}}</a></b> опубликованный  {{last_post.date|date}} пользователем <a href="">{{last_post.user.fullname|title}}</a></span><br>
    <span>Посмотреть <a href="{% url 'latest_posts' %}">последние посты</a></span><br>
  </div>

{% endblock content %}