{% extends 'base.html' %}
{% load hitcount_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="navigate">
            <span>
                Последние 10 постов
            </span>
        </div>

        <div class="posts-table">
            <div class="table-head">
                <div class="status">Статус</div>
                <div class="subjects">Содержание</div>
                <div class="replies">Ответы/Просмотры</div>
                <div class="last-reply">Последний ответ</div>
            </div>


            {% for post in posts %}
            <div class="table-row">
                <div class="status">
                    <img src="{% static 'logo.png' %}" class="logo"></img>
                </div>
                <div class="subjects">
                    <a href="{{post.get_url}}">{{post.title}}</a>
                    <br>
                    <span>Начат <b><a href="">{{post.user.fullname|title}}</a></b>.</span>
                </div>
                <div class="replies">
                    {{post.num_comments}} комментарий(ия) <br>{% get_hit_count for post %} просмотра(ов)
                </div>
                <div class="last-reply">
                    {{post.last_reply.date|date}}
                    <br>Ответил <b><a href="">{{post.last_reply.user.fullname|title}}</a></b>
                </div>
            </div>
            {% endfor %}

    </div>

    {% endblock content %}